*{
    border: 1px red solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Arial, sans-serif;
    
 
}

header{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
header h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
header, .random, .action, .quote{
     padding: 0 100px;
}
footer{
    background-color: #1f2937;
}
.quote{
     background-color: #e5e7eb;
}


/* update list and ul */
nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #e5e7eb;
     
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
/* hero */
.hero {
  display: flex;
  gap:20px;
  padding-bottom: 50px;
 
 
}
 
.placeholder{
    background-color: gray;
     width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
 
}
.hero button{
    border-radius: 10%;
    padding: 10px 25px;
    margin-top: 3px;
    background-color: #3882f6;
}
/* random info */
.random {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 60px;
   
}
.random h2{
     color: #1f2937;
     font-size: 36px;
     font-weight: 900;
     margin-bottom: 30px;
     margin-top: 20px;
}
.items{
    
    display: flex;
    justify-content: space-between;
    
    width: 700px;
    flex-wrap: wrap;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
     
    width: 120px;
    
}

.content{
    border-radius: 10%;
    border: #3882f6 solid 3px;
    height: 120px;
    width: 120px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.container-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
     text-align: left;
     font-size: 36px; 
     font-style: italic;
     font-weight: light;
     color: #1f2937;
   
}
#right{
    align-self: flex-end;
    font-weight: 900;
    font-style: normal;
}
/* action add padding top bottom */
.action{
    padding-top: 35px;
    padding-bottom: 35px ;
}
