*{
    border: 1px red solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Arial, sans-serif;
 
}

header{
    background-color: #1f2937;
    color: white;
}

header, .random, .action, .quote{
     padding: 0 100px;
}
footer{
    background-color: #1f2937;
}
.quote{
     background-color: #e5e7eb;
}


/* update list and ul */
nav ul{
    list-style: none;
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
